.questionCard {
  color: #212121;
  text-align: center;
  h4 {
    font-size: 1.75em
  }
  img {
    height: 10em;
  }

  a {
    font-size: 1.2em;
    vertical-align: center;
    height: 75%;
    width: 65%;
    color: #212121;
    min-height: 75px;

  }
}
.orangeCard {
  @extend .questionCard;


  .card {
    background-color: #F7941E;
  }

  a {
    background-color: #BE1E2D;
    &:hover {
      background-color: lighten(#BE1E2D, 10%)
    }
  }

}
