
<div class="footerFUIR" >
  <div layout="row" layout-sm="column" layout-margin layout-fill layout-padding>
    <div class="content" flex>
      <h3>Download the iphone app</h3>
      <a class="appStoreLogo" href="https://itunes.apple.com/app/id920877615?mt=8">
        <img src="assets/images/AppStoreLogo.png" alt="AppStore">
      </a>
    </div>
    <div class="content" flex>
      <h3>F.U. I'M RIGHT podcast</h3></h3></h3>
      <a style="color:#BE1E2D;" href="https://itunes.apple.com/us/podcast/f.u.-im-right/id879984798?mt=2" target="_blank">Listen to our podcast</a>
    </div>
    <div class="content" flex>
      <h3>Connect with us</h3>
      <div><a href="https://twitter.com/fuimright" class="twitter-follow-button" data-show-count="true" data-size="large" data-dnt="true">Follow @fuimright</a></div>
      <div class="fb-follow" data-href="https://www.facebook.com/fuimright" data-colorscheme="light" data-layout="button_count" data-show-faces="false"></div>
    </div>
  </div>
  <div class="copyright" layout="row" layout-align="space-between center">
    <div>
      © FUIR, LLC. 2014
    </div>
    <div>
      <a href="/privacy">Privacy</a>
      <a style="margin-left: 5px;" href="/terms">Terms</a>
    </div>
  </div>
</div>
<!-- Twitter button -->
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
