<footer class="grey lighten-1 footFUIR">
  <div class="container">
    <div class="row footerText">
      <div class="col l4 s12">
        <h3>Download the iphone app</h3>
        <p>
          lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum
          lorem ipsumlorem ipsumlorem
        </p>
        <a class="appStoreLogo" href="https://itunes.apple.com/app/id920877615?mt=8">
          <img src="assets/images/AppStoreLogo.png" alt="AppStore">
        </a>
      </div>
      <div class="col l4 s12">
        <h3>F.U. I'M RIGHT podcast</h3></h3></h3>
        <p>
          lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsum
          lorem ipsumlorem ipsumlorem
        </p>
        <a href="https://itunes.apple.com/us/podcast/f.u.-im-right/id879984798?mt=2" target="_blank">Podcast</a>
      </div>
      <div class="col l4 s12">
        <h3 style="margin-bottom: 5px;">Connect with us</h3>
        <a href="https://twitter.com/fuimright" class="twitter-follow-button" data-show-count="true" data-size="large" data-dnt="true">Follow @fuimright</a>
        <div class="fb-follow" data-href="https://www.facebook.com/fuimright" data-colorscheme="light" data-layout="standard" data-show-faces="true"></div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © FUIR, LLC. 2014
      <a class="right" href="/privacy">Privacy</a>
      <a class="right" href="/terms">Terms</a>
    </div>
  </div>
</footer>
<!-- Twitter button -->
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
