<nav class="grey lighten-1 navFUIR">
  <div class="container" ng-controller="NavbarCtrl">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
        <img src="assets/images/question_guy_red.png" alt="Logo">
        <span>F.U. I'M RIGHT</span>
      </a>
      <div class="right">
        <span ng-show="isLoggedIn()" style="margin-right:15px;">Hello {{ userName }}</span>
        <a href="" ng-show="isLoggedIn()" ng-click="logout()">Logout</a>
        <a href="/login" ng-hide="isLoggedIn()">Register / Sign up</a>
      </div>
      <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
    </div>
  </div>
</nav>
