
<div class="headerFUIR" ng-controller="NavbarCtrl">
  <headroom class="header" tolerance="0" offset="75" classes='{"initial":"headroom","pinned":"headroom--pinned","unpinned":"headroom--unpinned","top":"headroom--top","notTop":"headroom--not-top"}'>
    <md-content>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <div flex="15" class="menuButton">
            <a href="" ng-click="openSideNav()"><i class="fa fa-navicon"></i></a>
          </div>
          <div class="title" flex="70">
            <a href="/"><span>F.U. I'M RIGHT</span></a>
          </div>
          <div flex="15">
          </div>
        </div>
      </md-toolbar>
    </md-content>
  </headroom>
</div>
