// Dialog for big question card
.ngdialog.ngdialog-theme-default .ngdialog-content {
  width: 500;
  height: 600px;
  margin-top: -100px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  font-family: 'DharmaGothicPRegular',  sans-serif;
  padding: 0.5em 0.5em;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:before {
  color: #212121;
  font-family: 'jonze',  sans-serif;
  font-size: 2em;
}

.ngdialog.ngdialog-theme-default.bigorangeCard .ngdialog-content {
  background-color: #F7941E;
}
.ngdialog.ngdialog-theme-default.bigredCard .ngdialog-content {
  background-color: #BE1E2D;
}
.ngdialog.ngdialog-theme-default.biggreyCard .ngdialog-content {
  background-color: #6D6E71;
}
.ngdialog.ngdialog-theme-default.bigdarkOrangeCard .ngdialog-content {
  background-color: #D96C24;
}

.ngdialog-overlay {
  /* background:none; */
}

// Big question card
.questionCard {
  color: #212121;
  text-align: center;
  font-size: 1.5em;
  height: 100%;
  .md-button {
    display: inline-block; //for width and height to work
    margin-top: 10px;
    width: 300px;
    min-height: 65px;
    text-transform:none;
    font-size: 0.7em;
    span {
      white-space: initial;
    }
  }
  .md-button.md-altTheme-theme[disabled],
  .md-button.md-altTheme-theme.md-raised[disabled],
  .md-button.md-altTheme-theme.md-fab[disabled] {
    cursor: not-allowed;
  }
  .FUguy {
    width: 215px;
    position: absolute;
    left: 5%;
  }
  .stamp {
    width: 130px;
    position: absolute;
    left: 65%;
  }

  .questionText {
    height:30%;
    div {
      height:100%;
      width: 100%;
      display:table;
      span {
        display:table-cell;
        vertical-align:middle;
      }
    }
  }

  .questionAnswers {
    width: 100%;
    height: 60%;
    display: table;

    .buttons {
      display: table-cell;
      vertical-align: bottom;
      .results{
        font-family: 'jonze',  sans-serif;
        font-size: 1.8em;
        margin-left: 10px;
      }
    }
  }

  .footer {
    font-family: 'jonze',  sans-serif;
    font-size: 0.7em;
    width: 100%;
    height: 10%;
    display: table;
    .response {
      text-align:left;
      display: table-cell;
      vertical-align: bottom;
      padding-left: 20px;
    }
    .shareHeart {
      text-align:right;
      display: table-cell;
      vertical-align: bottom;
      img {
        margin-left: 20px;
        vertical-align: bottom;
        height: 45px;
      }
    }

  }
}

.bigorangeCard {
  .questionCard {
    .md-button{
      background-color: #BE1E2D;
    }
  }
}

.bigredCard {
  .questionCard {
    .md-button{
      background-color: #6D6E71;
    }
  }
}

.biggreyCard {
  .questionCard {
    .md-button{
      background-color: #D96C24;
    }
  }
}

.bigdarkOrangeCard {
  .questionCard {
    .md-button{
      background-color: #F7941E;
    }
  }
}

// Small question cards
.questionList {
  font-family: 'DharmaGothicPRegular',  sans-serif;
  margin: 3px -3px;
}

.orangeCard {
  background-color: #F7941E;
}
.redCard {
  background-color: #BE1E2D;
}
.greyCard {
  background-color: #6D6E71;
}
.darkOrangeCard {
  background-color: #D96C24;
}

// Media Query Ranges
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen})";
$large-and-up: "only screen and (min-width : #{$medium-screen})";

$small-and-down: "only screen and (max-width : #{$small-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";

$medium-only: "only screen and (min-width : #{$small-screen}) and (max-width : #{$medium-screen})";

@media #{$large-and-up} {
  .smallCard {
  }
  .smallCardOut {
    width: calc( 100% / 5);
  }
}
@media only screen and (max-width : 1200px) {
  .smallCard {
  }
  .smallCardOut {
    width: calc( 100% / 4);
  }
}
@media #{$medium-and-down} {
  .smallCard {
  }
  .smallCardOut {
    width: calc( 100% / 3);
  }
}
@media #{$small-and-down} {
  .smallCard {
  }
  .smallCardOut {
    width: calc( 100% / 2);
  }
}

.smallCardOut {
  float:left;

  height: 200px;
}

.smallCard {

  height: calc(100% - 6px);
  width: calc(100% - 6px);
  margin: 3px;
  padding: 10px;
  text-align:center;
  line-height: 1.2;
  display: table;

  .questionText {
    font-size: 1.3em;
    display: table-cell;
    vertical-align: middle;
  }
  .smallStamp {
    width: 75px;
    position: absolute;
    left: 54%;
  }
}
