<div ng-include="'components/navbar/navbar.html'"></div>

<div>
  <ul style="margin-left: -10px; margin-top:-16px;">
    <li style="float:left; margin-left: 7px;" ng-repeat="question in questions">

      <a href="#" ng-click="showCard(question, $index+1)">
        <div class="card {{getCardColor($index+1)}}" style=" margin-bottom: 5px; margin-top:0px; width: 283px; height: 200px; text-align:center;">
          <div class="card-content">
            <h4 style="font-size:1.4em">{{question.get("questionText")}}</h4>
            <div ng-show="question.results">
              <div ng-show="!question.results.inMajority">
                Youre Wrong!
              </div>
              <div ng-show="question.results.inMajority">
                Youre Right!
              </div>
            </div>
          </div>
        </div>
      </a>

    </li>
  </ul>
</div>
<script type="text/ng-template" id="questionTemplate">
<div class="questionCard" md-theme="altTheme">
  <div class="questionText">
    {{question.get("questionText")}}
  </div>
  <img class="logo" src="assets/images/question_guy_red.png" alt="Logo">
  <div style="margin-top:250px;">
    <md-button href="#" class="md-raised" ng-disabled="question.results" ng-click="saveAnswer(1)">{{question.get("answer1Text")}}</md-button>
    <label style="font-size:2.8em" ng-show="question.results">{{question.results.percentAnsw1}}%</label>
  </div>
  <div>
    <md-button href="#" class="md-raised" ng-disabled="question.results" ng-click="saveAnswer(2)">{{question.get("answer2Text")}}</md-button>
    <label style="font-size:2.8em" ng-show="question.results">{{question.results.percentAnsw2}}%</label>
  </div>
  <div ng-show="question.results">
    <div ng-show="!question.results.inMajority">
      Youre Wrong!
    </div>
    <div ng-show="question.results.inMajority">
      Youre Right!
    </div>
  </div>
</div>

</script>
<div style="clear:both" ng-include="'components/footer/footer.html'"></div>
