.ngdialog.ngdialog-theme-default .ngdialog-content {
  border-radius: 0px;
  width: 675px;
  -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);

}

.questionCard {
  color: #212121;
  text-align: center;
  h4 {
    font-size: 1.75em
  }
  img {
    height: 10em;
  }

  a {
    font-size: 1.2em;
    vertical-align: center;
    height: 75%;
    width: 65%;
    color: #212121;
    min-height: 75px;

  }
}

.orangeCard {
  background-color: #F7941E;
}
.redCard {
  background-color: #BE1E2D;
}
.greyCard {
  background-color: #6D6E71;
}
