<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" style="text-align:center;" ng-hide="isLoggedIn()">
  <div class="row" style="padding-bottom:25px;">
    <div class="col-lg-12">
      <img src="assets/images/title.png" alt="F.U. I'M RIGHT">
    </div>
  </div>
  <div class="row" style="padding-bottom:25px;">
    <div class="col-lg-12">
      <img src="assets/images/question_guy_red.png" alt="Logo">
    </div>
  </div>
  <div class="row" style="padding-bottom:25px;">
    <div class="col-lg-12">
      <img src="assets/images/slogan.png" alt="ASK. ANSWER. GLOAT.">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 logo">
      <a href="https://itunes.apple.com/app/id920877615?mt=8">
        <img src="assets/images/AppStoreLogo.png" alt="AppStore">
      </a>
    </div>
  </div>
</div>
<div class="container" style="text-align:center;"  ng-hide="!isLoggedIn()">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="question in questions">
      <strong>{{question.get("questionText")}}</strong>
      <br>
      <button type="button" class="btn" style="background-color:#CD0118; margin: 5px 0px" ng-click="saveAnswer(question.id, 1)">{{question.get("answer1Text")}}</button>
      <label ng-show="question.results">{{question.results.percentAnsw1}}%</label>
      <button type="button" class="btn" style="background-color:#CD0118; margin: 5px 0px" ng-click="saveAnswer(question.id, 2)">{{question.get("answer2Text")}}</button>
      <label ng-show="question.results">{{question.results.percentAnsw2}}%</label>
      <div ng-show="question.results">
        <div ng-show="!question.results.inMajority">
          You're Wrong!
        </div>
        <div ng-show="question.results.inMajority">
          You're Right!
        </div>
      </div>

    </li>
  </ul>
</div>
<footer class="footer">
  <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <p>© FUIR, LLC. 2014</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 navFooter" style="">
          <a href="/privacy">Privacy</a>
          <a href="/terms">Terms</a>
          <a href="https://itunes.apple.com/us/podcast/f.u.-im-right/id879984798?mt=2" target="_blank">Podcast</a>
          <a href="https://twitter.com/fuimright" target="_blank">Twitter</a>
          <a href="https://www.facebook.com/fuimright" target="_blank">Facebook</a>
        </div>
      </div>
  </div>
</footer>
